<h2>Clinical Services</h2>

<dfn>Adult Psychiatry &mdash; Psychodynamic psychotherapy, Consultation, Supervision</dfn>

<p>The focus of my work with patients is in-depth psychotherapy for a wide range of issues including depression and anxiety, with the addition of medication when appropriate to supplement talk therapy.</p>

<p>I have been in private practice since 1980 and I am Board Certified in Psychiatry.</p>

<h2>Contact</h2>

<p>I am currently accepting new telehealth patients. You can reach me at <a href="tel:+15038945845">(503) 894-5845</a>. Please leave a voicemail or send a text message.</p>

<p>I am also available for consultation and supervision.</p>