<p>I treat adults who are having difficulty with depression, anxiety or other painful feelings or problems that interfere with life.</p>

<p>I provide in-depth psychotherapy and psychoanalysis with supplementary medication when appropriate. I have been in private practice for over 30 years and I am board certified in Psychiatry and a Life Fellow of the American Psychiatric Association.</p>

<h2>Insurance</h2>
<p>I am an out-of-network provider.</p>

<h2>Contact</h2>

<p>555-555-5555</p>
<p><a href="http://bit.ly/2250nwflanders" target="_blank">2250 NW Flanders St, Suite 301, Portland, OR</a>
<p>Patient parking available in the back of the building.</p>
